; P.E.Op.S. OSS/ALSA spu2 plugin settings

Volume           = 2      ; Volume level 1-4 (1=loudest, 4=lowest, 3=default)
UseXA            = 0      ; Enable XA playing (0/1, 1=default)
XAPitch          = 0      ; Change XA pitch, if speed is wrong (0/1, 0=default)
HighCompMode     = 0      ; High compatibility mode (SPUasync needed, 0/1, 1=default)
SPUIRQWait       = 0      ; SPU IRQ - wait for cpu action (0/1, 0=default)
UseReverb        = 0      ; Reverb effects (0-1, 0=default)
UseInterpolation = 2      ; Interpolation (0-3, 2=default)
DisStereo        = 0      ; Disable Stereo (0/1, 0=default)


